@model IEnumerable<DateAFilm.Models.Film>

@{
    ViewData["Title"] = "Index";
}

<h1>Library</h1>

<p>
    <a asp-action="Create">Add New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var film in Model)
    {
        <tr>
            <td>@film.Title</td>
            <td>
                <img src="@film.ImageUrl" alt="Image for @film.Title" class="film-image" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@film.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@film.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@film.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
